@page
@model AspNetProject.Pages.Events.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Event</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.Place)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.Place)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.Adress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.Adress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.TicketsAvailable)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.TicketsAvailable)
        </dd>
    </dl>
</div>
<div>
    <form method="post">
        <input asp-page="./Details" asp-route-id="@Model.Event.ID" type="Submit">
    </form>
    <a asp-page="./Edit" asp-route-id="@Model.Event.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
