@page
@model AspNetProject.Pages.Events.IndexModel

@{ ViewData["Title"] = "Index"; }

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Event[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event[0].Place)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event[0].Adress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event[0].TicketsAvailable)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Event)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Title)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Description)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Place)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Adress)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Date)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TicketsAvailable)
    </td>
    <td>
        <a asp-page="./Details" asp-route-id="@item.ID">Details</a>
    </td>
</tr>}
    </tbody>
</table>
